@model Web.Models.DoChoi

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DoChoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDoChoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaDoChoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenDoChoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenDoChoi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaDoChoi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
